<li>
    {{name}}
    <!-- FIXME:-->
    {{#if devoured}}
        <button class="devourBurger" data-id="{{id}}" data-eatburger="{{devoured}}">
            Devour it!
        </button>
    {{/if}}
</li>