<li>
    {{ burger_string }}
    
    {{#unless devoured}}
        <button class="devourBurger btn btn-sm btn-success" data-id="{{id}}" data-eatburger="{{devoured}}">
            Devour it!
        </button>
    {{/unless}}
</li>