<li>
    {{ burger }}
    <!-- FIXME:-->
    {{#unless devoured}}
        <button class="devourBurger" data-id="{{id}}" data-eatburger="{{devoured}}">
            Devour it!
        </button>
    {{/unless}}
</li>