<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EAT-DA-BURGER!</title>
        <link rel="stylesheet" href="style.css" type="text/css">
        <script src="https://code.jquery.com/jquery.js"></script>
        
        <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Press+Start+2P&display=swap" rel="stylesheet">
        <script src="script.js"></script>
    </head>
    <body>
        {{{ body }}}
        
    </body>
</html>