<div class="container">
    <h1>Eat-Da Burger!</h1>

    <img src="https://www.vippng.com/png/full/356-3564209_kawaii-burger-pixel-hamburger.png" alt="Pixelated burger" >

    <p>Enter the burger you would like to eat! Click the 'Submit' button</p>

    <input type="text" class="burgerForm" name="name" placeholder="Burger Name"></input>
    <button type="button" class="addBurger btn btn-secondary" >Submit</button>

    <!-- List burger after submit || devoured == false -->

    <div class="burgers">
        <h3>On Menu</h3>
        <ul>
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burger-eat devoured=false}}
                {{/unless}}
            {{/each}}
        </ul>
    </div>


    <!--  List burgers if devoured == true -->

    <div class="devoured">
        <h3>Past Meals</h3>
        <ul>
            {{#each burgers}}
                {{#if devoured}}
                    {{> burger-eat devoured=true}}
                {{/if}}
            {{/each}}
        </ul>
    </div>
</div>