<h1>Eat-Da Burger!</h1>

<img src="https://www.vippng.com/png/full/356-3564209_kawaii-burger-pixel-hamburger.png" alt="Pixelated burger">

<p>Enter the burger you would like to eat! Click the 'Submit' button</p>

<input type="text" class="burgerForm" name="name"></input>

<button type="submit" class="addBurger">Submit</button>

<!-- FIXME: List burger after submit || devoured == false -->

<div>
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                {{> burger-eat devoured=false}}
            {{/unless}}
        {{/each}}
    </ul>
</div>


<!-- FIXME: List burgers if devoured == true -->

<div>
    <ul>
        {{#each burgers}}
            {{#if devoured}}
                {{> burger-eat devoured=true}}
            {{/if}}
        {{/each}}
    </ul>
</div>
