
body {
    background-color: #ffd480 !important;
    font-family: 'Nunito', sans-serif;
}

.container, p, h1, h3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

.addBurger {
    width: 500px;
    margin-left:auto;
    margin-right:auto;
}

::-webkit-input-placeholder {
    text-align: center;
 }

.burgerForm{
    width: 500px;
    height: 50px;
    margin-left:auto;
    margin-right:auto;
}

h1 {
    color: red;
    font-family: 'Press Start 2P', cursive;
}

img {
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
    width:361px;
    height:281px;
}

.burgers, .devoured{
    margin: 0px;
    padding: 0px;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
}

.devoured li {
    opacity: 80%;
}

h3 {
    background-color: yellow;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

